.tasks{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.done, .unfulfilled{
  border: 1px solid gray;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-task{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.add-task button{
  padding: 8px 13px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: green;
  border: none;
}
.add-task input{
  width: 250px;
}

.unfulfilled-task, .done-task{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
}
.unfulfilled-task p, .done-task p{
  border: 1px solid gray;
  padding: 20px;
  width: 400px;
  border-radius: 10px;

}
.unfulfilled-task, .done-task{
  display: flex;
  flex-direction: row;
}
.unfulfilled-task button,.done-task button{
  padding: 24px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.done-task button{
  padding: 24px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
